<{include file="header.html"}>
   <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                                        <li>
                        <a href="#">系统</a>
                    </li>
                                        <li>
                        <a href="#">用户管理</a>
                    </li>
                                        <li class="active">添加用户</li>
                                        </ul>
                </div>
                <!-- /Page Breadcrumb -->

                <!-- Page Body -->
                <div class="page-body">
                    
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-blue">
                <span class="widget-caption">产品管理</span>
            </div>
            <div class="widget-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form" action="" method="post">
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label no-padding-right">栏目类别</label>
                            <div class="col-sm-6">
                                <select name="group_id" style="width:100%;">
                                    <option selected="selected">产品展示</option>
                                </select>
                            </div>
                            <p class="help-block col-sm-4 red">* 必填</p>
                        </div>

                        <div class="form-group">
                            <label for="group_id" class="col-sm-2 control-label no-padding-right">分类</label>
                            <div class="col-sm-6">
                                <select name="productcat_id" style="width: 100%;">
                                    <{foreach from=$productcat_info item="val"}>
                                    <option value="<{$val.productcat_id}>" <{if $val.productcat_id eq $product_info.productcatId}>selected<{/if}> ><{$val.productcat_name}></option>
                                    <{/foreach}>
                                </select>
                            </div>
                            <p class="help-block col-sm-4 red">* 必填</p>
                        </div> 
                         
                        <div class="form-group">
                            <label for="group_id" class="col-sm-2 control-label no-padding-right">型号</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="title" value="<{$product_info.product_model}>" name="product_model" value="文档" required type="text">

                            </div>
                            <p class="help-block col-sm-4 red">* 必填</p>
                        </div>
                        <div class="form-group">
                            <label for="group_id" class="col-sm-2 control-label no-padding-right">代理商</label>
                            <div class="col-sm-6">
                                <select name="agent_id" style="width: 100%;">
                                    <{foreach from=$agent_info item="val"}>
                                    <option value="<{$val.agent_id}>" <{if $val.agent_id eq $product_info.agent_id}>selected<{/if}> ><{$val.agent_name}></option>
                                    <{/foreach}>
                                </select>
                            </div>
                            <p class="help-block col-sm-4 red">* 必填</p>
                        </div> 
                        <div class="form-group">
                            <label for="group_id" class="col-sm-2 control-label no-padding-right">品牌</label>
                            <div class="col-sm-6">
                                <select name="brand_id" style="width: 100%;">
                                    <{foreach from=$brand_info item="val"}>
                                    <option value="<{$val.brand_id}>" <{if $val.brand_id eq $product_info.brand_id}>selected<{/if}> ><{$val.brand_name}></option>
                                    <{/foreach}>
                                </select>
                            </div>
                            <p class="help-block col-sm-4 red">* 必填</p>
                        </div> 
                        <div class="form-group">
                            <label for="group_id" class="col-sm-2  control-label no-padding-right">货币</label>
                            <div class="col-sm-3">
                                <{foreach from=$currency_info item=val}>
                                <label>&nbsp;<{$val.currency_name}>:<input type="radio" name="currency_id" value="<{$val.currency_id}>" <{if $val.currency_id eq $product_info.currencyId}>checked<{/if}>></label>
                                <{/foreach}>
                            </div>
                        </div>
                        <!--价格与数量的对应展示-->
                        <{foreach from=$product_info.price item=val key=key name="pricename"}>
                        <div class="form-group">
                            <label for="group_id" class="col-sm-2 control-label no-padding-right">价格</label>
                            <div class="col-sm-3">
                            
                             <input class="form-control" id="title" value="<{$val}>" name="sales_unitprice<{$smarty.foreach.pricename.iteration}>" value="价格1" required type="text">
                            </div>
                            <label for="group_id" class="col-sm-1 control-label no-padding-right<{$key}>">数量</label>
                                  <div class="col-sm-3">
                          <input class="form-control" id="title" value="<{$key}>" name="purchase_quantity<{$smarty.foreach.pricename.iteration}>" value="数量1" required type="text">
                            </div>
                        </div>
                        <{/foreach}>
                        <div class="form-group">
                            <label for="group_id" class="col-sm-2 control-label no-padding-right">库存</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="title" value="<{$product_info.product_stocknum}>" name="product_stocknum" value="文档" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="group_id" class="col-sm-2 control-label no-padding-right">批次</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="title" value="<{$product_info.product_batch}>" name="product_batch"  type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="group_id" class="col-sm-2 control-label no-padding-right">封装</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="title" value="<{$product_info.product_package}>" name="product_package" value="文档" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="group_id" class="col-sm-2 control-label no-padding-right">eccn</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="title" value="<{$product_info.product_eccn}>" name="product_eccn" value="文档" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="group_id" class="col-sm-2 control-label no-padding-right">datasheet</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="title" value="<{$product_info.product_datasheet}>" name="product_datasheet" value="文档" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="group_id" class="col-sm-2  control-label no-padding-right">热门</label>
                            <div class="col-sm-3">
                                <label><input type="radio" name="product_ishot" value="1" <{if $product_info.product_ishot eq 1}>checked<{/if}>></label>&nbsp;是
                                <label><input type="radio" name="product_ishot" value="2" <{if 2 eq $product_info.product_ishot}>checked<{/if}>></label>&nbsp;不是
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="group_id" class="col-sm-2  control-label no-padding-right">每周特价</label>
                            <div class="col-sm-3">
                                <label><input type="radio" name="isweekly_special" value="1" <{if $product_info.isweekly_special eq 1}>checked<{/if}>></label>&nbsp;是
                                <label><input type="radio" name="isweekly_special" value="0" <{if $product_info.isweekly_special eq 0}>checked<{/if}>></label>&nbsp;不是
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="group_id" class="col-sm-2  control-label no-padding-right">现货商品</label>
                            <div class="col-sm-3">
                                <label><input type="radio" name="is_spot" value="1" <{if $product_info.is_spot eq 1}>checked<{/if}>></label>&nbsp;是
                                <label><input type="radio" name="is_spot" value="0" <{if $product_info.is_spot eq 0}>checked<{/if}>></label>&nbsp;不是
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="group_id" class="col-sm-2  control-label no-padding-right">可搜索</label>
                            <div class="col-sm-3">
                                <label><input type="radio" name="product_searchstatus" value="1" <{if $product_info.product_searchstatus eq 1}>checked<{/if}>></label>&nbsp;可以
                                <label><input type="radio" name="product_searchstatus" value="2" <{if $product_info.product_searchstatus eq 2}>checked<{/if}>></label>&nbsp;不可以
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="group_id" class="col-sm-2  control-label no-padding-right">状态</label>
                            <div class="col-sm-3">
                                <label><input type="radio" name="product_status" value="1" <{if $product_info.product_status eq 1}>checked<{/if}>></label>&nbsp;启用
                                <label><input type="radio" name="product_status" value="0" <{if $product_info.product_status eq 0}>checked<{/if}>></label>&nbsp;禁用
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="group_id" class="col-sm-2  control-label no-padding-right">首页显示</label>
                            <div class="col-sm-3">
                                <label><input type="radio" name="product_isindex" value="1" <{if $product_info.product_isindex eq 1}>checked<{/if}>></label>&nbsp;显示
                                <label><input type="radio" name="product_isindex" value="2" <{if $product_info.product_isindex eq 2}>checked<{/if}>></label>&nbsp;不显示
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="group_id" class="col-sm-2 control-label no-padding-right">排序</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="title" value="<{$product_info.product_order}>" name="product_order" value="文档" type="text">
                            </div>
                        </div>
                        <!--保存修改信息-->
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">保存信息</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
        </div>  
    </div>

<{include file="footer.html"}>