<{include file="header.html"}>
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                                        <li>
                        <a href="#">系统</a>
                    </li>
                                        <li class="active">用户管理</li>
                                        </ul>
                </div>
                <!-- /Page Breadcrumb -->

                <!-- Page Body -->
                <div class="page-body">
                    
<button type="button" tooltip="添加用户" class="btn btn-sm btn-azure btn-addon" onClick="javascript:window.location.href = '/admin/user/add.html'"> <i class="fa fa-plus"></i> Add
</button>
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-body">
                <div class="flip-scroll">
                    <table class="table table-bordered table-hover">
                        <thead class="">
                            <tr>
                                <th class="text-center">产品ID</th>
                                <th class="text-center">产品型号</th>
                                <th class="text-center">产品品牌</th>
                                <th class="text-center">产品代理</th>
                                <th class="text-center">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <{foreach from=$product_list item=val}>
                            <tr>
                                <td align="center"><{$val.product_id}></td>
                                <td align="center"><a href="http://www.milchips.com/web/site/product_detail.php?pid=<{$val.product_id}>" target="_blank"><{$val.product_model}></a></td>
                                <td align="center"><{$val.brand_name}></td>
                                <td align="center"><{$val.agent_name}></td>
                                <td align="center">
                                    <a href="./edit.php?product_id=<{$val.product_id}>" class="btn btn-primary btn-sm shiny">
                                        编辑
                                    </a>
                                    <a href="#" onClick="warning('确实要删除吗', './delete.php?product_id=<{$val.product_id}>')" class="btn btn-danger btn-sm shiny">
                                        <i class="fa fa-trash-o"></i> 删除
                                    </a>
                                </td>
                            </tr>
                            <{/foreach}>
                        </tbody>
                    </table>
                    <{$page_button}>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
</div>

                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
		</div>	
	</div>
<{include file="footer.html"}>
